<footer class="py-2 border-top bg-body-secondary">
    <ul class="nav nav-fill">
        <li class="nav-item">
            <a class="nav-link px-2 text-body-secondary"
               href="https://github.com/strifel/mampf.link">
                Mampf.Link is open source software under GPL-2.0
            </a>
        </li>
        @if (Environment.GetEnvironmentVariable("MAMPFLINK_IMPRINT") != null)
        {
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary"
                   href="@Environment.GetEnvironmentVariable("MAMPFLINK_IMPRINT")">
                    Impressum
                </a>
            </li>
        }
        @if (Environment.GetEnvironmentVariable("MAMPFLINK_PRIVACY") != null)
        {
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary"
                   href="@Environment.GetEnvironmentVariable("MAMPFLINK_PRIVACY")">
                    Datenschutz/Privacy
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link px-2 text-body-secondary" href="#">Back to top</a></li>
    </ul>
</footer>
