<nav class="navbar fixed-bottom bg-body-secondary">
    <div class="container nav-justified">
        <div class="navbar-text navbar-item">
            <a href="https://github.com/strifel/mampf.link">Mampf.Link is open source software
                under GPL-2.0</a>
        </div>
        <div class="navbar-text navbar-item float-end">
            <a href="#">Back to top</a>
        </div>

        @if (Environment.GetEnvironmentVariable("MAMPFLINK_IMPRINT") != null)
        {
            <a href="@Environment.GetEnvironmentVariable("MAMPFLINK_IMPRINT")" class="mb-1"
               style="padding-right: .25rem">Impressum</a>
        }
        @if (Environment.GetEnvironmentVariable("MAMPFLINK_PRIVACY") != null)
        {
            <a href="@Environment.GetEnvironmentVariable("MAMPFLINK_PRIVACY")" class="mb-1">Datenschutz/Privacy</a>
        }
    </div>
</nav>
