@inherits LayoutComponentBase

<header data-bs-theme="dark">
    <div class="navbar bg-body-secondary shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Mampf.Link</strong>
            </a>
        </div>
    </div>
</header>

<main>
    @Body
</main>


<Footer></Footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
