@using GroupOrder.Services.Common
@inject IGroupService GroupService

<div class="card">
    <div class="card-header">
        ℹ️ Group <i>@GroupService.CurrentGroup.GroupName</i>
    </div>
    <div class="card-body">
        @if (!GroupService.IsOrderingClosed())
        {
            <h5 class="card-title mb-2 text-body-secondary">
                Ordering is closing at @GroupService.CurrentGroup.ClosingTime!.Value
            </h5>
        }
        else
        {
            <h5 class="card-title mb-2 text-danger">
                Ordering has already closed
            </h5>
        }
        <p class="card-text">
            @GroupService.CurrentGroup.Description
        </p>
        @if (GroupService.CurrentGroup.MenuUrl != null)
        {
            <a href="@GroupService.CurrentGroup.MenuUrl" target="_blank" class="btn btn-secondary">
                🗺️ Visit Menu
            </a>
        }
    </div>
</div>