@inject IJSRuntime JsRuntime

<div class="alert alert-light" style="width: min-content;" role="alert">
    <b>Wire-Payment QR Code</b><br/>
    <div style="padding: 10px; background-color: white; border-radius: 3px">
        <div id="payment_qr"></div>
    </div>
</div>