@using GroupOrder.Data
@using GroupOrder.Services.Common

@inject IGroupService gs

<tr>
    <td>
        <InputText min-length="1" max-length="100" placeholder="Name" class="form-control" @bind-Value="PersonName"/>
    </td>
    <td></td>
    <td></td>
    <td>
        <button class="btn btn-primary" type="submit" @onclick="AddPerson">Add</button>
    </td>
</tr>