@page "/group/{GroupSlug}"

@using GroupOrder.Data
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

@inject IDbContextFactory<GroupContext> DbFactory

<PageTitle>Mampf.Link @Group?.GroupName</PageTitle>

@if (Group != null)
{
    <h1>Group Overview: @Group?.GroupName</h1>
    
    <p>@Group?.Description</p>

    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Food
            </th>
            <th>
                Price
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (Order order in Group!.Orders)
        {
        <tr>
            <td>
                @order.Name
            </td>
            <td>
                @order.Food
            </td>
            <td>
                @getPrice(order)€
            </td>
            <td>
                @if (Group.PaypalUsername != null)
                {
                <a style="text-decoration: none" target="_blank" href="https://www.paypal.com/paypalme/@Group.PaypalUsername/@getPrice(order)">💳</a>
                }
            </td>
        </tr>
        }
        </tbody>
    </table>
}

@code {
    
    private Group? Group { get; set; }

    private bool Loading { get; set; } = false;
    private bool NotFound { get; set; } = false;
    
    [Parameter]
    public string? GroupSlug { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        await LoadGroupAsync();
        await base.OnParametersSetAsync();
    }
    
    
    // Loads the contact.
    private async Task LoadGroupAsync()
    {
        if (Loading)
        {
            return; //avoid concurrent requests.
        }

        Group = null;
        Loading = true;

        using var context = DbFactory.CreateDbContext();

        if (context.Groups is not null)
        {
            Group = await context.Groups
                .Include(group => group.Orders)
                .SingleOrDefaultAsync(
                    c => c.GroupSlug == GroupSlug);

            if (Group is null)
            {
                NotFound = true;
            }
        }

        Loading = false;
    }

    private String getPrice(Order order)
    {
        return (order.Price / 100) + "." + System.String.Format("{0:D2}", order.Price % 100);
    }
    
}
