@page "/group/{GroupSlug}/add"
@implements IDisposable

@using GroupOrder.Components.Layout
@using GroupOrder.Data
@using GroupOrder.Services.Common
@using Microsoft.EntityFrameworkCore
@using GroupOrder.Components.Error
@rendermode InteractiveServer

@layout AppLayout

@inject IGroupService GroupService
@inject IAdminService AdminService
@inject IDbContextFactory<GroupContext> DbFactory


<PageTitle>Mampf.Link Add</PageTitle>

<h1>Add Food manually as an group leader</h1>
<p>Only use if it is really required as it is quite legacy and could produce bugs.</p>

@if (AdminService.IsAdmin())
{
    @if (!Saved)
    {
        <EditForm EditContext="editContext" OnValidSubmit="Submit" FormName="group-add-form">
            <AntiforgeryToken/>
            <div class="form-group">
                <label>
                    Name:
                    <InputText class="form-control" @bind-Value="Name"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Food:
                    <InputText class="form-control" @bind-Value="Order!.Food"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Price (Euro):
                    <InputNumber step="0.01" placeholder="10.00" class="form-control"
                                 @bind-Value="Price"/>
                </label>
            </div>
            <br/>
            <div>
                <ValidationMessage For="() => Order!"/>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </EditForm>
    }

    @if (Saved)
    {
        <h3>Erfolgreich eingetragen.</h3>
        <button @onclick="reset" class="btn btn-secondary">Noch eins eintragen?</button>
    }
}
else
{
    <FourZeroThreeError/>
}