@page "/group/{GroupSlug}/add"
@implements IDisposable

@using GroupOrder.Data
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

@inject IDbContextFactory<GroupContext> DbFactory

<PageTitle>Mampf.Link Add</PageTitle>

<h1>Add Food</h1>
    
@if (!Saved)
{
    <EditForm EditContext="editContext" OnValidSubmit="Submit" FormName="group-add-form">
        <AntiforgeryToken/>
        <div class="form-group">
            <label>
                Name:
                <InputText class="form-control" @bind-Value="Order!.Name"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                Food:
                <InputText class="form-control" @bind-Value="Order!.Food"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                Price (Euro):
                <InputNumber step="0.01" placeholder="10.00" class="form-control" @bind-Value="Price"/>
            </label>
        </div><br/>
        <div>
            <ValidationMessage For="() => Order!" />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>
}
@if (Saved)
{
    <h3>Erfolgreich eingetragen.</h3>
    <button @onclick="reset" class="btn btn-secondary">Noch eins eintragen?</button>
}

@code {
    private EditContext? editContext;
    private ValidationMessageStore? messageStore;
    
    private Order? Order { get; set; }
    private Decimal? Price { get; set; }

    private bool Saved { get; set; } = false;
    
    [Parameter]
    public string? GroupSlug { get; set; }

    protected override void OnInitialized()
    {
        Order ??= new();
        editContext = new(Order);
        editContext.OnValidationRequested += HandleValidationRequested;
        messageStore = new(editContext);
    }

    private void reset()
    {
        Order = new();
        Price = null;
        editContext = new(Order);
        editContext.OnValidationRequested += HandleValidationRequested;
        messageStore = new(editContext);
        Saved = false;
    }
    
    
    private async void Submit()
    {
        Order!.Price = (int)(Price! * 100);
        
        using var context = DbFactory.CreateDbContext();
        
        Group? group = await context.Groups
            .SingleOrDefaultAsync(
                c => c.GroupSlug == GroupSlug);

        if (group is null)
        {
            return;
        }

        Order!.PaymentStatus = PaymentStatus.Unpaid;
        Order!.Group = group;
        context.Add(Order!);
        context.SaveChanges();
        Saved = true;
    }
    
    private void HandleValidationRequested(object? sender,
        ValidationRequestedEventArgs args)
    {
        messageStore?.Clear();

        if (Order!.Name == null || Order!.Name!.Length == 0 || Order!.Name!.Length > 100)
        {
            messageStore?.Add(() => Order, "You must enter a Name between 1 and 100 chars.");
        }
        
        if (Order!.Food == null || Order!.Food!.Length == 0 || Order!.Food!.Length > 100)
        {
            messageStore?.Add(() => Order, "You must enter a Food Choice between 1 and 100 chars.");
        }
        
        if (Price == null | Price < 0)
        {
            messageStore?.Add(() => Order, "Price must be greater than 0.");
        }
    }
    
    public void Dispose()
    {
        if (editContext is not null)
        {
            editContext.OnValidationRequested -= HandleValidationRequested;
        }
    }
}