@page "/"
@using System.Security.Cryptography
@using GroupOrder.Data
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<GroupContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Mampf.Link</PageTitle>

Welcome to Mampf.Link!<br/>
Create a new Group here or use an link to join an existing one.<br/><br/>


<form method="post" @onsubmit="Submit" @formname="group-create-form">
    <AntiforgeryToken/>
    <div class="form-group">
        <label>Name:</label>
        <InputText class="form-control" required @bind-Value="Model!.GroupName"/>
    </div>
    <div class="form-group">
        <label>Description (optional):</label>
        <InputTextArea class="form-control" @bind-Value="Model!.Description"/>
    </div>
    <div class="form-group">
        <label>Your Paypal Username (optional):</label>
        <InputText class="form-control" @bind-Value="Model!.PaypalUsername"/>
    </div><br/>
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

@code {
    [SupplyParameterFromForm] public Group? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {
        using var context = DbFactory.CreateDbContext();
        Model!.AdminCode = RandomNumberGenerator.GetHexString(10);
        Model!.GroupSlug = RandomNumberGenerator.GetHexString(10);
        context.Add(Model);
        context.SaveChanges();

        NavigationManager.NavigateTo($"/group/{Model!.GroupSlug}?admin={Model!.AdminCode}");
    }

}