@page "/"

<PageTitle>Mampf.Link</PageTitle>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to mampf.link</h1>
            <p class="lead text-body-secondary">An open source web tool to make managing group food
                orders easy.</p>
            <p>
                <a href="/create" class="btn btn-primary my-2">Create Group</a>
                <!--<a href="#" class="btn btn-secondary my-2">Revisit last Group</a>-->
            </p>
        </div>
    </div>
</section>

<style>
    .bd-placeholder-img {
        padding: 10px;
    }
</style>

<div class="album py-5 bg-body-tertiary">
    <div style="text-align: center;"><h2>Features:</h2></div>
    <br/>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" alt="Screenshot of the order UI."
                         src="/screenshots/join_group.png"/>
                    <div class="card-body">
                        <p class="card-text"><b>Making collecting orders easy:</b> Send the link to
                            your group to your
                            friends and collect their orders without losing track.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!--<div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary">Learn more</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top"
                         alt="Screenshot of payment UI that shows how much is still owed"
                         src="/screenshots/pay.png"/>
                    <div class="card-body">
                        <p class="card-text"><b>Making collecting payments easy:</b> Just enter you
                            Paypal username and
                            your friends will get an individual link with the correct amount.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <!--<div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary">Learn more</a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top"
                         alt="Screenshot of the finance UI showing three Users with the different Payment status: Unpaid, Payment pending and Paid"
                         src="/screenshots/finance.png"/>
                    <div class="card-body">
                        <p class="card-text"><b>Making keeping track of finances easy:</b> With our
                            integrated Payment
                            feature you can easily track who has already sent you the money und who
                            is still missing.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!--<div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary">Learn more</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top"
                         alt="Screenshot of the cart UI. Showing two items that need to be added to cart"
                         src="/screenshots/cart.png"/>
                    <div class="card-body">
                        <p class="card-text"><b>Making sure you do not forget something:</b> With
                            the cart feature you
                            can easily track what you do have already added to the food providers
                            cart.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <!--<div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary">Learn more</a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top"
                         alt="Screenshot of the selector for Payment: Enabled, Host pays, Disabled"
                         src="/screenshots/flexible.png"/>
                    <div class="card-body">
                        <p class="card-text"><b>Flexible:</b> Are you paying for everyone today? No
                            Problem: You can
                            just disable payments. Want to change something? No Problem: As a group
                            leader you can
                            modify orders</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!--<div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary">Learn more</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>