@using GroupOrder.Services.Common

@inject IGroupService gs

<div class="row">
    <div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
        <h1>You are not authorized.</h1>
        @if (gs.Group != null)
        {
            <h2>Go back to <a href="/group/@gs.Group?.GroupSlug">the My Order Page</a>.</h2>
        }
    </div>
</div>

