@using GroupOrder.Services.Common
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject IGroupService GroupService
@inject ProtectedLocalStorage ProtectedLocalStorage

<div class="col-sm-12 col-lg-5 offset-lg-3 mb-3">
    <div class="alert alert-info" role="alert">
        You are new to the group, enter your name below to join.
    </div>

    <div class="row row-cols-sm-auto g-3 align-items-center">
        <div class="col-12">
            <InputText
                id="person_name"
                placeholder="Name"
                class="form-control"
                @bind-Value="NewName"/>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" @onclick="OnJoinClick">
                Join
            </button>
        </div>
    </div>
</div>